<div class="home">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="home-title">
        <img src="assets/MoZi-logo.png"></img>
        <div class="panel panel-success" style="text-align: center">
          <h4><i>Solo Project by Jonathan Moody</i></h4>
        </div>
      </div>
      <div class="home-button">
        <a href="users/sign_in" class="btn btn-lg btn-primary">Launch The App</a>
      </div>
    </div>
  </div>
</div>

<div id="backgrounds">
  <img src="http://elegantthemes.com/preview/InStyle/wp-content/uploads/2008/11/s-1.jpg" />
  <img src="http://elegantthemes.com/preview/InStyle/wp-content/uploads/2008/11/s-5.jpg" />
  <img src="http://elegantthemes.com/preview/InStyle/wp-content/uploads/2008/11/s-3.jpg" />
</div>

<script>
  $("body").addClass("home");
  function background() {
    $("#backgrounds img").first().appendTo('#backgrounds').fadeOut(5000);
    $("#backgrounds img").first().fadeIn(5000);
    
    setTimeout(background, 7000);
  }
  background();
</script>

<!-- <nav id="mozi-nav" class="navbar navbar-fixed-top dk affix-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mozi-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="" class="navbar-brand">MoZi</a>
    </div>
    <div class="collapse navbar-collapse" id="mozi-menu">
      <ul class="nav navbar-nav">
        <li>
          <a href="#/games">
            <i class="fa fa-gamepad"></i>
            <span>Games</span>
          </a>
        </li>
      </ul>
      <ul class="sessions nav navbar-nav navbar-right">
        <% if (!!window.gon.current_user) { %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= window.gon.current_user.username %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu nav-navbar">
              <li><a href="#">Profile</a></li>
              <li>
                <a href="/users/sign_out" data-method="delete">Sign Out</a>
              </li>
            </ul>
          </li>
        <% } else { %>
          <li><a href="/users/sign_in">Sign In</a></li>
          <li><a href="/users/sign_up">Sign Up</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav> -->