/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

$mozi-blue: #34119C;

#mozi-nav {
  background-color: $mozi-blue;
  ul.sessions {
    float: right;
  }
}

#game-index-title {
  text-align: center;
}

#games {
  .game {
    .game-text {
      text-align: center;
    }
  }
}

#streams {
  text-align: center;
}

.stream-display {
  margin-top: 30px;
  .stream-viewer {
    height: 90%;
    .stream-name {
      font-size: 35px;
      font-weight:bold;
    }
    .stream-status {
      font-size: 30px;
      font-weight: bold;
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .chatroom {
    height: 90%;
    margin-top: 35px;
    #chat-display {
      height: 500px;
      overflow-y: scroll;
      background-color: lightgrey;
      margin-bottom: 5px;
    }
  }
}

#favorites {
  text-align: center;
}

.modal {
  text-align: center;
}

.tooltip-inner {
  max-width: 250px;
}

body {
  padding-top: 50px;
}

.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}